name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  # JOB 1: TESTING
  test:
    runs-on: ubuntu-latest
    env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, bcmath, gd, sqlite3
          
      - name: Install Dependencies
        run: composer install --prefer-dist --no-progress

      - name: Prepare Laravel Environment
        run: |
          cp .env.example .env
          php artisan key:generate

      - name: Prepare SQLite File
        run: touch database/database.sqlite
          
      - name: Run Database Migrations
        run: php artisan migrate --force

      - name: Execute Tests
        run: | 
          php artisan config:clear
          php artisan test

  # JOB 2: DEPLOY
  deploy:
    runs-on: ubuntu-latest
    needs: test 
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/sistemsekolah-api
            git pull origin main
            composer install --no-interaction --optimize-autoloader
            php artisan migrate --force
            php artisan optimize
            php artisan cache:clear
            php artisan route:clear
            php artisan view:clear
