name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DB_CONNECTION: sqlite
      DB_DATABASE: database/database.sqlite

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, bcmath, gd, sqlite3

      - name: Prepare SQLite File
        run: |
          mkdir -p database
          touch database/database.sqlite

      - name: Install Dependencies
        run: composer install --prefer-dist --no-progress

      - name: Prepare Laravel Environment
        run: |
          cp .env.example .env
          php artisan key:generate

      - name: Run Database Migrations
        run: php artisan migrate --force

      - name: Execute Tests
        run: |
          php artisan config:clear
          php artisan test

      - name: Show Laravel log
        if: always()
        run: cat storage/logs/laravel.log || echo "No log file"

      - name: Upload Laravel log as artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: laravel-log
          path: storage/logs/laravel.log

  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/sistemsekolah-api
            git pull origin main
            composer install --no-interaction --optimize-autoloader
            php artisan migrate --force
            php artisan optimize
            php artisan cache:clear
            php artisan route:clear
            php artisan view:clear
